[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "noudar-core"]
	path = noudar-core
	url = https://github.com/TheFakeMontyOnTheRun/noudar-core.git
[submodule "gles2-renderer"]
	path = gles2-renderer
	url = https://github.com/TheFakeMontyOnTheRun/gles2-renderer.git
[submodule "stb"]
	path = stb
	url = https://github.com/TheFakeMontyOnTheRun/stb.git
